<h1>Edit movie</h1>

<% @movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<%= form_with(url: movie_path(@movie), method: :patch) do %>
<!--<form action="<%#= movie_path(@the_movie)%>" method="post">
  <input name="authenticity_token" value="<%#= form_authenticity_token %>" type="hidden">
  
  <input name="_method" value="patch" type="hidden"> -->

  <div>
    <%= label_tag  :title_box %>
    <%= text_field_tag "movie[title]", id: "Title"  %>
    <!--<input type="text" id="title_box" name="query_title" value="<%#= @the_movie.title %>">-->
  </div>

  <div>
   <!-- <label for="description_box">
      Description
    </label> -->
    <%= label_tag :description %>
    <%= text_area_tag "movie[description]", id: "Description", rows: 3 %>
    <!--<textarea  id="description_box" name="query_description" rows="3"><%#= @the_movie.description %></textarea>-->
  </div>

  <%= button_tag "Update movie"%>
  <!--<button>
    Create movie
  </button>-->

<% end %>