<h1>New Director</h1>

<%= form_with(model: @director) do |form|%>

  <div>
    <%= form.label :name%>
    <%= form.text_field :name %>
  </div>

    <div>
    <%= form.label :dob%>
    <%= form.date_select :dob %>
  </div>

    <div>
    <%= form.label :bio%>
    <%= form.text_area :bio %>
  </div>

  <%= form.button%>

  <% end %>